<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{Title}}</title>
</head>

<body>
    <header>
        <h1>{{Title}}</h1>
        <nav>
            <ul>
                <li><a href="/accountlookup">Account Lookup</a></li>
                <li><a href="/movies/lookup">Movie Lookup</a></li>
                <li><a href="/myaccount">My Account</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/createaccount">Sign Up</a></li>
                <li><a href="/newmovie">New Movie (Admin Only)</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

</body>
</html>
