<main>
     <p>Time to login.</p>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <form action="/login" method="POST">
    <label>Username</label>
    <input name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Log In</button>
  </form>
</main>