<main>
    <p>Time to login.</p>

    <form action="/login" method="POST" class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>

        <button type="submit">Sign Up</button>
    </form>

</main>