<!--TODO-->
<main>
    <form action="/movies/myaccount" method="POST" class="signup">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>

    <label for="cpassword">Confirm Password</label>
    <input type="text" id="cpassword" name="cpassword" required>
    
    <label for="age">Age</label>
    <input type="number" id="age" name="age" required>

    <label for"description">Description</label>
    <input type="text" id="descriptino" name="description">
    
    <button type="submit">Sign Up</button>

    </form>
</main>