<!--TODO-->
<form action="/uploaddata" method="POST" enctype="multipart/form-data">
    <label for="file">Upload Zip File:</label>
    <input type="file" id="file" name="file" accept=".zip" required>
    <button type="submit">Submit</button>
</form>