<!--TODO-->
<form action="/uploaddata" method="POST" enctype="multipart/form-data">
    <p>Warning: Please do not reload the page after clicking submit. This process may take a few minutes to load.</p>
    <label for="file">Upload Zip File:</label>
    <input type="file" id="file" name="file" accept=".zip" required>
    <button type="submit">Submit</button>
</form>